.p-caution {
  background-color: $off_white;
  padding: 3rem 0;
  color: $caution_base;

  .c-container {
    padding: 0;
  }

  &__card {
    background-color: $caution_card_bg;
    padding: 8rem 6rem 6rem;
  }

  &__card-head {
    text-align: center;
    font-weight: bold;
    margin-bottom: 6rem;

    h2 {
      font-size: 4.9rem;
      padding-bottom: 1rem;
      border-bottom: 4px solid $caution_head_border;
      margin-bottom: 1rem;
    }

    p {
      font-size: 3.9rem;
      // margin-bottom: 4rem;
    }
  }

  @media screen and (max-width: 768px) {
    &__card {
      padding: 3rem;
    }

    &__card-head {
      margin-bottom: 4rem;
    }
  }

  @media screen and (max-width: 576px) {
    padding: 4rem 0;
    &__card {
      padding: 2rem;
    }

    &__card-head {
      margin-bottom: 2rem;
      h2 {
        font-size: 3.2rem;
      }

      p {
        font-size: 2.2rem;
      }
    }
  }
}
